<% include _partials/_header %>
<% include _partials/_nav %>

<div id="banner" class="page-header">
	<div class="row white-text">
		<div class="col s12 m6 offset-m3 center-align">
			<h2><%= title %></h2>	
		</div>	<!-- /col -->	
	</div>	<!-- /row -->	
</div> <!-- /#banner -->

<div class="row white-text">
	<div class="col s12 m8 offset-m2">
		<p>Loc8r was created to help people find places to sit down and get a
bit of work done.</p>	
		<br />
		<br />
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>	
</div>

<% include _partials/_footer %>
