<% include _partials/_header %>
<% include _partials/_nav %>

<div class="row page-header">
  <div class="col l12">
    <h2 class="white-text">Starcups</h2>
		<div class="divider"></div>
  </div>
</div>
<div class="row">
  <div class="col s12 col m9">
    <div class="row">
      <div class="col s12 col m6">
        <p class="rating white-text">
					<span><i class="material-icons">star</i></span>
					<span><i class="material-icons">star</i></span>
					<span><i class="material-icons">star</i></span>
					<span><i class="material-icons">star_border</i></span>
					<span><i class="material-icons">star_border</i></span>
				</p>
        <p class="white-text">125 High Street, Reading, RG6 1PS</p>
        <div class="card teal lighten-1 white-text">
          <div class="card-title">
            <h4 class="center-align">Opening hours</h4>
          </div>
          <div class="card-content center-align">
            <p>Monday - Friday : 7:00am - 7:00pm</p>
            <p>Saturday : 8:00am - 5:00pm</p>
            <p>Sunday : closed</p>
          </div>
        </div> <!-- /card -->
        <div class="card teal lighten-1 white-text">
          <div class="card-title ">
            <h4 class="center-align">Facilities</h4>
          </div>
          <div class="card-content center-align">
						<div class="chip deep-purple white-text">
							<i class="material-icons ">check</i>
							<span class="right">Hot drinks</span>
						</div>
						<div class="chip deep-purple white-text">
							<i class="material-icons">check</i>
							<span class="right">Food</span>
						</div>
						<div class="chip deep-purple white-text">
							<i class="material-icons">check</i>
							<span class="right">Premium wifi</span>
						</div>
					</div>	<!-- /card-content -->
        </div> <!-- /card -->
      </div>  <!-- /col -->
      <div class="col s12 m6 location-map">
        <div class="card teal lighten-1">
          <div class="card-title white-text ">
            <h4 class="center-align">Location map</h4>
          </div>
          <div class="card-content">
						<img src="http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&amp;zoom=17&amp;size=400x350&amp;sensor=false&amp;markers=51.455041,-0.9690884&amp;scale=2" class="responsive-img circle"/>
					</div> 	<!-- /card-content -->
        </div> <!-- /card -->
      </div> <!-- /col -->
    </div> <!-- /row -->
    <div class="row">
      <div class="col s12">
        <div class="card teal lighten-1">
          <div class="card-title ">
						<a href="/location/review/new" class="btn amber right black-text"><strong>Add review</strong></a>
            <h4 class="white-text center-align">Customer reviews</h4>
						<div class="divider">
							
						</div>
          </div>
          <div class="card-content teal lighten-1">
            <div class="row">
              <div class="review">
                <div class="">
									<span class="rating white-text">
										<span> <i class="material-icons">star</i></span>
										<span> <i class="material-icons">star</i></span>
										<span> <i class="material-icons">star</i></span>
										<span> <i class="material-icons">star</i></span>
										<span> <i class="material-icons">star</i></span>
									</span>
									<span class="badge red left white-text">Simon Holmes</span>
									<span class="badge  lighten-1 left white-text">16 July 2013</span>
								</div>
                <div class="col s12 white-text">
                  <p>What a great place. I can't say enough good things about it.</p>
                </div>
								<hr />
              </div>
            </div> <!-- /row -->
            <div class="row">
              <div class="review">
                <div class="well well-sm review-header">
									<span class="rating white-text">
										<span><i class="material-icons">star</i></span>
										<span><i class="material-icons">star</i></span>
										<span><i class="material-icons">star</i></span>
										<span><i class="material-icons">star_border</i></span>
										<span><i class="material-icons">star_border</i></span>
									</span>
									<span class="badge left red white-text">Charlie Chaplin</span>
									<span class="badge left  lighten-1 white-text">16 June 2013</span>
								</div>
                <div class="col s12 white-text">
                  <p>It was okay. Coffee wasn't great, but the wifi was fast.</p>
                </div> <!-- col -->
              </div>
            </div> <!-- /row -->
          </div> <!-- /card-content -->
        </div> <!-- /card -->
      </div> <!-- /col -->
    </div> <!-- /row -->
  </div>
  <div class="col s12 m3 white-text flow-text">
    <p class="lead">Starcups is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.</p>
    <p>If you've been and you like it - or if you don't - please leave a review to help other people just like you.</p>
  </div> <!-- /col -->
</div> <!-- /row -->

<% include _partials/_footer %>
