<% include _partials/_header %>
<% include _partials/_nav %>

<div id="banner" class="page-header">
  <div class="row">
    <div class="col l6">
      <h1>Loc8r<small>&nbsp;Find places to work with wifi near you!</small></h1>
    </div>
  </div>
</div>
<div class="row ">
  <div class="col s12 m8">
    <div class="row collection">
      <div class="col-xs-12 collection-item teal lighten-1 white-text">
        <h4 class=""><a href="/location" class="amber-text">Starcups</a><small>&nbsp;<span><i class="material-icons">star</i></span><span><i class="material-icons">star</i></span><span><i class="material-icons">star</i></span><span><i class="material-icons">star_border</i></span><span><i class="material-icons">star_border</i></span></small><span class="badge red white-text">100m</span></h4>
        <p class="address">125 High Street, Reading, RG6 1PS</p>
        <p><span class="chip deep-purple white-text">Hot drinks</span>&nbsp;<span class="chip deep-purple white-text">Food</span>&nbsp;<span class="chip deep-purple white-text">Premium wifi</span>&nbsp;</p>
      </div>
      <div class="col s12 collection-item teal lighten-1 white-text">
        <h4><a href="/location" class="amber-text">Starcups</a><small>&nbsp;<span><i class="material-icons">star</i></span><span><i class="material-icons">star</i></span><span><i class="material-icons">star_border</i></span><span><i class="material-icons">star_border</i></span><span><i class="material-icons">star_border</i></span></small><span class="badge red white-text">100m</span></h4>
        <p class="address">125 High Street, Reading, RG6 1PS</p>
        <p><span class="chip deep-purple white-text">Hot drinks</span>&nbsp;<span class="chip deep-purple white-text">Food</span>&nbsp;<span class="chip deep-purple white-text">Premium wifi</span>&nbsp;</p>
      </div>
      <div class="col s12 collection-item teal lighten-1 white-text">
        <h4><a href="/location" class="amber-text">Starcups</a><small>&nbsp;<span><i class="material-icons">star</i></span><span><i class="material-icons">star</i></span><span><i class="material-icons">star</i></span><span><i class="material-icons"></i></span><span><i class="material-icons">star</i></span><span><i class="material-icons">star_border</i></span></small><span class="badge red white-text">100m</span></h4>
        <p class="address">125 High Street, Reading, RG6 1PS</p>
        <p><span class="chip deep-purple white-text">Food</span>&nbsp;<span class="chip deep-purple white-text">Premium wifi</span>&nbsp;</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <h5 class="blue-text text-lighten-5">Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.</h5>
  </div>
</div>

<% include _partials/_footer %>

