<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Loc8r</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-small-only">
			<li><a href="/about">About</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a href="/about">About</a></li>
		</ul>
	</div>
</nav>
<div class="container">
	
