<% for (var i = 1; i <= location.rating; i++){ %>
	<span><i class="material-icons">star</i></span>	
<% } %>
<% for (var i = location.rating; i < 5; i++){ %>
	<span><i class="material-icons">star_border</i></span>
<% } %>
